
@{
    Layout = "_layoutLanding";
    ViewBag.Title = "Landing";
}

    <title>Accueil</title>
    <p class="contenu">

    <div>Je suis la vue Accueil</div>
     <ul>
        <li>@Model.Utilisateur.InfosPersos.Nom</li>
        <li>@Model.Utilisateur.InfosPersos.Prenom</li>
        <li>@Model.Utilisateur.Adresse</li>
        <li>@Model.Utilisateur.Mail</li>
        <li>@Model.Utilisateur.Telephone</li>
        <li>@Model.Utilisateur.Qarma</li>
    </ul>

     </p>
