@model List<ProjetQarma.Models.Service>


@{
    Layout = "_layoutAdmin";
    ViewBag.Title = "servicePage";
}


@using (Html.BeginForm("Index", "Service", FormMethod.Get)) //Index est la méthode, Service est le controleur, searchstring est le paramètre
{
    <div class="row" align="center">
        <div class="col-md-11 offset-md-1 bordureAucune" style="border-radius: 8px;">

            <div class="row bordureAucune">
                <div class="col-md-9 bordureAucune">
                    <div><input class="form-control" id="floatingInput" placeholder="Rechercher Demande" style=" height: 35px; width: 100%;"></div>
                </div>

                <div class="col-md-3 bordureAucune">
                    <button class="btn btn-primary btn-lg me-md-5" style="width: 100%; height: 35px; margin-top: 0px; font-size: 12px ">Rechercher </button>

                </div>
            </div>
        </div>
    </div>
}
<p class="proposition">
    <div class="row justify-content-start">

        @foreach (var service in Model)

        {
            <div class="card col-4 m-3" style="width: 25%; border: 3px solid #3276726a; background-color: #3276726a; " align="center">
                <h6 style=" color: #327672;"> @service.Titre</h6>
                <div class="card-body d-flex flex-column justify-content-between">
                    <div>

                        <div class="my-1">
                            <img src="@service.ImagePath" width="100" height="75" style="border-radius: 8px;" />
                        </div>
                        <div class="card-subtitle mb-1 text-muted " style="font-size: 13px; color: #327672;"><strong>Coût du service : @service.MontantBisous</strong></div>
                        <div class="card-subtitle mb-1 text-muted " style="font-size: 13px; color: #327672;"><strong>Type de service : @service.TypeService</strong></div>
                        <div class="card-text" style="font-size: 13px; color: ghostwhite;"><strong> @service.Description </strong></div>


                    </div>
                    <div>
                        <a class="btn btn-secondary  btn-sm text-light" onclick="alert('Confirmer')" href=@("/administration/SupprimerServiceAdmin?"+"serviceASupprimerID="+service.Id) type="button">Supprimer</a>
                    </div>
                </div>
            </div>
        }

        
    </div>


