@model List<ProjetQarma.Models.Utilisateur>


@{
    Layout = "_layoutAdmin";
    ViewBag.Title = "userPage";
}



<!-- Listes -->
<div class="row justify-content-start">
    @foreach (var utilisateur in Model)
    {
        <div class="card col-5 m-4" style="width: 40%; border: 3px solid #3276726a; background-color: #3276726a; " align="center">
            <h6 style=" color: #327672;"> <i class="h4 bi bi-person-fill text-primary mx-3" style="color: #9AE17B"></i>Infos de l'utilisateur @utilisateur.Id</h6>
            <div class="card-body d-flex flex-column justify-content-between">
                <div>
                    <div style="color:ghostwhite"><span class="fw-bold"> Identité :</span> @utilisateur.InfosPersos.Nom @utilisateur.InfosPersos.Prenom </div>
                    <div class="card-subtitle mb-1 text-muted " style="font-size: 13px; color: #327672;"><strong><span class="fw-bold"> Contact :</span> @utilisateur.Mail</strong></div>
                    <div class="card-subtitle mb-1 text-muted " style="font-size: 13px; color: #327672;"><strong>    <span class="fw-bold"> Catégorie :</span> @utilisateur.Role</strong></div>
                </div>
                <div>
                    <button class="btn btn-primary  btn-sm text-light" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        Modifier Rôle
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        @if (utilisateur.Role.ToString() == "User")
                        {
                            <li><a class="dropdown-item couleur_verte" onclick="alert('Confirmer')" href=@("/administration/promoteAdmin?"+"utilisateurToPromoteAdminID="+utilisateur.Id)>Admin</a></li>
                        }
                        else if (utilisateur.Role.ToString() == "Admin")
                        {
                            <li><a class="dropdown-item couleur_verte" onclick="alert('Confirmer')" href=@("/administration/demoteAdmin?"+"utilisateurToDemoteAdminID="+utilisateur.Id)>User</a></li>

                            <!-- href=/"administration/la methode a ppeller?"+"argument de la méthode a appeler="+objet.ID)-->
                        }
                        else
                        {
                        }

                    </ul>
                    <div>
                        <a class="btn btn-secondary  btn-sm text-light" style="width:50%" onclick="alert('Confirmer')" href=@("/administration/bannirUser?"+"utilisateurABannirID="+utilisateur.Id) type="button">Bannir</a>

                        <a class="btn btn-secondary  btn-sm text-light" style="width:50%" href=@("/administration/supprimerUserAdmin?"+"userASupprimerID="+utilisateur.Id) onclick="alert('Confirmer')" type="button">Supprimer</a>

                    </div>
                </div>
            </div>
        </div>


    }

    @*@Html.ActionLink("Proposer un nouveau service", "Proposer", "Service")*@

</div>



