@model List<ProjetQarma.Models.Proposition>

@{
    Layout = "_layoutAccueil";
    ViewBag.Title = "Mesdemandes";
}


<h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Proposition de services</h2>
<!-- Icon Divider-->
<div class="divider-custom">
    <div class="divider-custom-line"></div>
    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
    <div class="divider-custom-line"></div>
</div>
<p class="proposition">
    <div class="row justify-content-start">
        @foreach (var proposition in Model)
        {

            string modifierLien = "/Service/ModifierProposition/" + proposition.Id;

            <div class="card col-6 m-5" style="width: 18rem;">


                <div class="card-body d-flex flex-column justify-content-between">
                    <a href=@("/service/PropositionDetail/"+proposition.Id) class="btn btn-primary stretched-link"> @proposition.Titre</a>
                    <div>
                        <h5 class="card-title">  @proposition.Titre</h5>
                        <h5 class="card-title"> Identifiant du service : @proposition.Id</h5>

                        <h6 class="card-subtitle mb-2 text-muted">proposé par : @proposition.InfosPersosId</h6>
                        <h6 class="card-subtitle mb-2 text-muted">Coût du service : @proposition.MontantBisous</h6>
                        <h6 class="card-subtitle mb-2 text-muted">@proposition.TypeService</h6>
                        <p class="card-text">@proposition.Description</p>
                        <a href=modifierLien class="card-link">Modifier</a>

                    </div>

                </div>
            </div>
        }

    </div>
    <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Demande de services</h2>
    <div class="row justify-content-start">

        @foreach (var service in Model)
        {
            string modifierLien = "/Service/Modifier/" + service.Id;
            string supprimerLien = "/Service/Supprimer/" + service.Id;
            <div class="card col-6 m-5" style="width: 18rem;">
                <div class="card-body d-flex flex-column justify-content-between">
                    <div>
                        <p class="card-text">@service.Titre</p>
                        <div class="my-3">
                            <img src="@service.ImagePath" width="225" height="200" />
                        </div>
                        <h6 class="card-subtitle mb-2 text-muted">Coût du service : @service.MontantBisous</h6>
                        <h6 class="card-subtitle mb-2 text-muted">@service.TypeService</h6>
                        <p class="card-text">@service.Description</p>

                    </div>
                    @Html.ActionLink("Répondre à la demande", "Creer", "Service")
                    <a href=@modifierLien class="card-link">Modifier</a>
                    <a href=@supprimerLien class="card-link">Supprimer</a>
                </div>
            </div>
        }
    </div>

