@model ProjetQarma.ViewModels.PropositionViewModel


@{ Layout = "_layoutDetail";
    ViewBag.Title = "PropositionDetail"; }
<div class="row" align="center">
    <div class="col-md-10 offset-md-1 bordureAucune">
        <h3 class="titre">@Model.Proposition.Titre</h3>
    </div>
</div>

<div class="row">
    <div class="col-md-10 offset-md-1 bordureAucune">
        <div class="my-3">
            <!--<img src="@Model.Proposition.ImagePath" width="225" height="200" />-->
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-10 offset-md-1 bordureAucune">
        Budget : @Model.Proposition.MontantBisous
    </div>
</div>
<div class="row">
    <div class="col-md-10 offset-md-1 bordureAucune">
        Catégorie :  @Model.Proposition.TypeService
    </div>
</div>
<div class="row">
    <div class="col-md-10 offset-md-1 bordureAucune">
        Détail : @Model.Proposition.Description
    </div>
</div>
<div class="row">
    <div class="col-md-10 offset-md-1 bordureAucune">
        <button class="btn btn-secondary btn-lg me-md-5" style=" width: 100%;" type="button" onclick="location.href='@Url.Action("UtilisateurNonConnecte2","Service",new { id=Model.Proposition.InfosPersosId})';"><div style="font-size:16px"> @Model.Proposition.InfosPersosId</div></button>

    </div>
</div>

<div class="row">
    <div class="col-md-10 offset-md-1 bordureAucune">
    </div>
</div>





