@model List<ProjetQarma.Models.Proposition>

@{
    Layout = "_layoutAccueil";
    ViewBag.Title = "Proposition";
}


<h3 class="titre">Page proposition</h3>
<p class="contenu">Ici c'est la page proposition</p>

<h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Proposition de services</h2>
<!-- Icon Divider-->
            <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
                @using (Html.BeginForm("Index", "Service", FormMethod.Get )) //Index est la méthode, Service est le controleur, searchstring est le paramètre
                            {
                                <div class="form-floating mb-3">
                                    @Html.TextBox( "searchString")
                                    @Html.Label("")
                                 <input type="submit" value="rechercher ">  
                                </div>
				            }
            </div>
        <p class="proposition">
            <div class="row justify-content-start">
                @foreach (var proposition in Model)

                {               
                   
                    <div class="card col-6 m-5" style="width: 18rem;" >
                        <div class="card-body d-flex flex-column justify-content-between">
                            <h5 href=@("/service/PropositionDetail/"+proposition.Id) class="btn btn-primary stretched-link"> @proposition.Titre</h5>

                            <div>
                        
                                    <div class="my-3">
                                        <img src="@proposition.ImagePath" width="225" height="200" />
                                    </div>
                                <h6 class="card-subtitle mb-2 text-muted">Coût du service : @proposition.MontantBisous</h6>
                                <h6 class="card-subtitle mb-2 text-muted">@proposition.TypeService</h6>
                                <p class="card-text">@proposition.Description</p> 
     
                            </div>
                   
                        </div>
                    </div>
                    }
                <a href="/Service/Proposer">
					<svg xmlns="http://www.w3.org/2000/svg" width="160" height="160" fill="black" class="align-middle bi bi-plus" viewBox="0 0 16 16">
						<path class="plus" d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"  style="color : #9AE17B"/>
					</svg>
				</a>


                @*@Html.ActionLink("Proposer un nouveau service", "Proposer", "Service")*@

            </div>

