@model ProjetQarma.ViewModels.PropositionViewModel


@{ Layout = "_layoutDetail";
    ViewBag.Title = "PropositionDetail"; }

<!--**********Partie body**************-->
<div class="row" align="left">
    <div class="col-md-7  bordureBleue1" style="border-radius: 8px;">
        <div class="row" align="center">
            <div class="col-md-10 offset-md-1 ">
                <h2 class="titre">@Model.Proposition.Titre</h2>
            </div>
        </div>


        <div class="row">
            <div class="col-md-10 offset-md-1 bordureAucune">
                <div class="my-3">
                    <img src="@Model.Proposition.ImagePath" width="225" height="200" style="border-radius: 8px;" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 offset-md-1 bordureAucune">
                <h4> @Model.Proposition.MontantBisous bisous</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 offset-md-1 bordureAucune">
                Catégorie :  @Model.Proposition.TypeService
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 offset-md-1 bordureAucune">
                <h3>Description :</h3>
                @Model.Proposition.Description
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 offset-md-1 bordureAucune">

            </div>
        </div>
    </div>
    <div class="col-md-1  bordureaucune">
    </div>
    <!--**********Partie droite**************-->

    <div class="col-md-3  bordureBleue1" style="border-radius: 8px;">

        <div class="row">
            <div class="col-md-10 offset-md-1 bordureAucune">
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 offset-md-1 bordureAucune">
                Posté par:

                <h3>  @Model.Utilisateur.InfosPersos.Prenom</h3>

            </div>
        </div>
        <div class="row">
            <div class="col-md-10 offset-md-1 bordureAucune">
                <button class="btn btn-primary btn-lg me-md-5" style=" width: 100%;" type="button" onclick="location.href='@Url.Action("UtilisateurNonConnecte2","Service",new { id=Model.Proposition.InfosPersosId})';"><div style="font-size:16px"> Profil</div></button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 offset-md-1 bordureAucune">
                <button class="btn btn-primary btn-lg me-md-5" style=" width: 100%;" type="button" onclick="location.href='@("/service/accepterService?"+"utilisateurADebiterID="+Convert.ToInt32(User.Identity.Name)+"&utilisateurACrediterID="+Model.Utilisateur.Id+"&serviceID="+Model.Proposition.Id)';"><div style="font-size:16px">accepter</div></button>
            </div>
        </div>
    </div>

</div>





