@model ProjetQarma.ViewModels.PropositionViewModel


@{ Layout = "_layoutDetail";
    ViewBag.Title = "PropositionDetail"; }

<h3 class="titre">@Model.Proposition.Titre</h3>

<div class="row">
    <div class="col-md-10 offset-md-1 bordureAucune">
        <div class="my-3">
            <img src="@Model.Proposition.ImagePath" width="225" height="200" />
        </div>
    </div>
</div>
   
<div class="row">
    <div class="col-md-10 offset-md-1 bordureBleue1">
        Budget : @Model.Proposition.MontantBisous

        <div class="row">
            <div class="col-md-10 offset-md-1 bordureAucune">
            </div>
        </div>



        Catégorie :  @Model.Proposition.TypeService

        <div class="row">
            <div class="col-md-10 offset-md-1 bordureAucune">
            </div>
        </div>


        Détail : @Model.Proposition.Description

    </div>
    </div>

