@model ProjetQarma.ViewModels.PropositionViewModel


@{ Layout = "_layoutDetail";
    ViewBag.Title = "PropositionDetail"; }
<div class="row" align="center">
    <div class="col-md-10 offset-md-1 bordureAucune">
        <h3 class="titre">@Model.Proposition.Titre</h3>
    </div>
</div>

<div class="row">
    <div class="col-md-10 offset-md-1 bordureAucune">
        <div class="my-3">
            <img src="@Model.Proposition.ImagePath" width="225" height="200" />
        </div>
    </div>
</div>
        <div class="row">
            <div class="col-md-10 offset-md-1 bordureAucune">
                Budget : @Model.Proposition.MontantBisous
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 offset-md-1 bordureAucune">
                Catégorie :  @Model.Proposition.TypeService
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 offset-md-1 bordureAucune">
                Détail : @Model.Proposition.Description
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 offset-md-1 bordureAucune">
                proposé par :@Model.Proposition.InfosPersosId
            </div>
        </div>
       
        <div class="row">
            <div class="col-md-10 offset-md-1 bordureAucune">
            </div>
        </div>


      


