@model ProjetQarma.ViewModels.ServiceViewModels
@{
    Layout = "_layoutAcceuil";
    ViewBag.Title = "Service";
}
<div id="contenu">
    <div class="row">
        <div class="col-md-5 offset-md-5 ">
            Offres de services
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 offset-md-1 bordureAucune">
        </div>
    </div>
    <div class="row" align="center">
        <div class="col-md-4  bordureBleue1">
            <img src="/photos/emoji1.png" width="40%" id="logo">
            <div style="color : ghostwhite">
                <div>
                    <div>
                        Service proposé par :@Model.Utilisateur.InfosPersos.Nom
                        @Model.Utilisateur.InfosPersos.Prenom
                    </div>                    <div> Coordonnées : </div>
                    <div>
                        <div>@Model.Utilisateur.Adresse</div>
                        <div>Mail : @Model.Utilisateur.Mail</div>
                        <div>Téléphone : @Model.Utilisateur.Telephone</div>
                        <div>Niveau Qarma : @Model.Utilisateur.Qarma</div>
                    </div>
                </div>
                <div>Type de service : @Model.Service.TypeService</div>
                <div>Cout en bisous :  @Model.Service.MontantBisous</div>
            </div>
        </div>
        <div class="col-md-4  bordureBleue1">
            <div id="contenu">
                <img src="/photos/emoji2.png" width="40%" id="logo">
                <div style="color : ghostwhite">
                    <div>
                        <div>
                            Service proposé par :                            @Model.Utilisateur.InfosPersos.Nom
                            @Model.Utilisateur.InfosPersos.Prenom
                        </div>                        <div> Coordonnées : </div>
                        <div>
                            <div>@Model.Utilisateur.Adresse</div>
                            <div>Mail : @Model.Utilisateur.Mail</div>
                            <div>Téléphone : @Model.Utilisateur.Telephone</div>
                            <div>Niveau Qarma : @Model.Utilisateur.Qarma</div>
                        </div>
                    </div>
                     <div>Type de service : @Model.Service.TypeService</div>  
                    <div>Cout en bisous :  @Model.Service.MontantBisous</div>
                </div>
            </div>
        </div>
        <div class="col-md-4  bordureBleue1">
            <div id="contenu">
                <img src="/photos/emoji3.png" width="40%" id="logo">
                <div style="color : ghostwhite">
                    <div>
                        <div>
                            Service proposé par :                            @Model.Utilisateur.InfosPersos.Nom
                            @Model.Utilisateur.InfosPersos.Prenom
                        </div>                        <div> Coordonnées : </div>
                        <div>
                            <div>@Model.Utilisateur.Adresse</div>
                            <div>Mail : @Model.Utilisateur.Mail</div>
                            <div>Téléphone : @Model.Utilisateur.Telephone</div>
                            <div>Niveau Qarma : @Model.Utilisateur.Qarma</div>
                        </div>
                    </div>
                    <div>Type de service : @Model.Service.TypeService</div>
                    <div>Cout en bisous :  @Model.Service.MontantBisous</div>
                </div>
            </div>
        </div>
    </div>
</div>