@model ProjetQarma.ViewModels.ServiceViewModels


@{ Layout = "_layoutDetail";
    ViewBag.Title = "ServiceDetail"; }
<div class="row" align="center">
    <div class="col-md-10 offset-md-1 bordureAucune">
        <h3 class="titre">@Model.Service.Titre</h3>
    </div>
</div>

<div class="row">
    <div class="col-md-10 offset-md-1 bordureAucune">
        <div class="my-3">
            <!--<img src="@Model.Service.ImagePath" width="225" height="200" />-->
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-10 offset-md-1 bordureAucune">
        Budget : @Model.Service.MontantBisous
    </div>
</div>
<div class="row">
    <div class="col-md-10 offset-md-1 bordureAucune">
        Catégorie :  @Model.Service.TypeService
    </div>
</div>
<div class="row">
    <div class="col-md-10 offset-md-1 bordureAucune">
        Détail : @Model.Service.Description
    </div>
</div>
<div class="row">
    <div class="col-md-10 offset-md-1 bordureAucune">
        <button class="btn btn-secondary btn-lg me-md-5" style=" width: 100%;" type="button" onclick="location.href='@Url.Action("UtilisateurNonConnecte","Service",new { id=Model.Service.InfosPersosId})';"><div style="font-size:16px"> @Model.Service.InfosPersosId</div></button>
    </div>
</div>

<div class="row">
    <div class="col-md-10 offset-md-1 bordureAucune">
    </div>
</div>





