<!DOCTYPE html>
<html lang="fr">
<head>
    <title>Landing Page QARMA</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="~/css/style1.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="navbar navbar-expand-md">
        <div class="containerHeader">
            <div class="row">
                <!-- La partie Gauche LOGO-->
                <div class="col-md-3 bordureAucune">
                    <img src="/photos/QarmaLogo.png" width="40%" id="logo">
                    <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#main-navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
                <!-- Description plateforme Qarma-->

                <div class="col-md-5 caractereDescription text-center bordureAucune">
                    <h2 class="couleur_verte"> <strong> Qarma</strong></h2><br>
                    <h4 class="couleur_bleueQarma"> <strong>La plateforme d'échange de biens et de services entre voisins</strong> </h4>
                </div>
                <div class="col-md-1 bordureAucune">
                </div>
                <!-- Se connecter-->
                <div class="col-md-3 caractereDescription bordureAucune">
                    <div class="collapse navbar-collapse" id="main-navigation">
                        <nav class="nav flex-column navbar-nav">
                            Bonjour Max! & icons compte, notif et messages
                        </nav>
                    </div>
                </div>
            </div>
    </nav>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="~/css/style1.css">
    <header class=" header containerHeader">

        <div class="row">
            <div class="col-md-4 bordureAucune">
                Home --> Profil
            </div>


        </div>



        <!-- *******MAIN *******-->
        <script src="main.js"></script>
    </header>
    <div>
        <div class="containerBody">
            <div class="row">
                <div class="col-md-10 offset-md-1 bordureAucune">
                    Espace vide
                </div>
            </div>
            <!--La prtie du WEB fonctionalité-->
            <div class="row">
                <!-- La partie Gauche-->
                <div class="col-md-4 bordureBleue1">
                    Partie Gauche
                    <div class="row">
                        <div class="col-md-10 offset-md-1 bordureAucune">
                            Espace vide
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10 offset-md-1 bordureBleue2">
                            @Model.Utilisateur.InfosPersos.Prenom
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10 offset-md-1 bordureBleue2">
                            Solde bisous
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10 offset-md-1 bordureBleue2">
                           Qarma = @Model.Utilisateur.Qarma 
                            <br>
                            Badges<br>
                            Nombres de badges<br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10 offset-md-1 bordureAucune">
                            Messagerie
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10 offset-md-1 bordureAucune">
                           Vide
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10 offset-md-1 bordureBleue2">
                            @Html.ActionLink("Se déconnecter", "Deconnexion")
                        </div>
                    </div>
                </div>
                <div class="col-md-1 bordureAucune">
                    Colonne Vide
                </div>
                <!--**********Partie body**************-->
                <div class="col-md-2  bordureBleue1">
                    <div id="offres">
                        @RenderBody()
                    </div>
                </div>
                <div class="col-md-1  bordureAucune">
                    Colonne Vide
                </div>
                <div class="col-md-4 bordureBleue1 ">
                    Partie droite
                    <div class="row">
                        <div class="col-md-12 offset-md-0 bordureBleue1">
                            <h2> Centres d'interets </h2>
                            
                            @Model.Utilisateur.CentreInteret
                            <br>
                            <br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 offset-md-0 bordureAucune">
                            Vide
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 offset-md-0 bordureBleue1">
                            <h2> Répond à vos demandes de : </h2>
                           
                            @Model.Utilisateur.Propose
                            <br>
                            <br>
                            <br>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-md-10 offset-md-1 bordureAucune">
                    Espace vide
                </div>
            </div>
        </div>
    </div>

    <!-- **********FOOTER*************-->
    <footer class="text-center ">
        <!-- Grid container -->
        <div class="containerFooter pt-20">
            <div class="row">
                <div class="col-md-3">
                    icons LinkedIn Facebook Instagram et Twitter
                </div>
                <!-- Copyright -->
                <!-- -->
                <div class="col-md-6 bordureAucune">
                    <div class="text-center couleur_bleueSoliDev p-40">
                        <strong> SoliDev © 2022  </strong><br>
                        <strong> Adresse email de contact </strong>
                    </div>
                </div>
                <!-- Logo SoliDev-->
                <div class="col-md-3 ">
                    <img src="/photos/SoliDevLogo.png" width="20%" id="logo">
                </div>

            </div>
        </div>
        <!-- Copyright -->
    </footer>
</body>
</html>